@font-face {
  font-family: "SeoulHangang";
  src: url("../../assets/fonts/SeoulHangang/SeoulHangang-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "SeoulHangang";
  src: url("../../assets/fonts/SeoulHangang/SeoulHangang-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Rochester";
  src: url("../../assets/fonts/Rochester/Rochester-Regular.woff2")
    format("woff2");
}
