@import "../../assets/scss/animations";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.forget-reset-password {
  background-image: url("../../assets/images/pap-hor.png");
  @include bg-center;
  text-align: center;
  height: 46rem;
  min-width: 60rem;
  @include flex-center;

  h1 {
    font-size: $font-size-md;
    font-family: $font-title;
    margin-bottom: 4rem;
  }
  label {
    font-size: $font-size-sm;
    font-family: $font-main;
  }

  input {
    @include input-login;
    flex: 1 1 0%;
    margin: 1rem;
    width: 32rem;
    font-size: $font-size-xs;
  }
  button {
    @include btn-green;
    margin-top: 1rem;
  }

  p {
    font-size: $font-size-sm;
    margin: 0.5rem 0 2.5rem 0;
  }
}
