@import "../assets/scss/animations";
@import "../assets/scss/fonts";
@import "../assets/scss/variables";
@import "../assets/scss/mixin";

// LANDING/HOME
.sloth-home {
  background-image: url("../assets/images/sloth.png");
  @include bubble;
  @include b-home;
  animation: float 10s linear infinite alternate both;
  top: 75%;
  left: 80%;
  .speechBubble {
    @include speech-bubble;
    top: -48%;
    right: 85%;
    &::after {
      bottom: -15%;
      right: -5%;
    }
  }
}
.snake-home {
  background-image: url("../assets/images/snake.png");
  @include bubble;
  @include b-home;
  animation: float 8s linear infinite reverse both;
  top: 75%;
  left: 5%;
  .speechBubble {
    @include speech-bubble;
    top: -48%;
    left: 82%;
    &::after {
      bottom: -15%;
      left: -5%;
    }
  }
}

.fish-home {
  background-image: url("../assets/images/fish.png");
  @include bubble;
  @include b-home;
  animation: float 8s linear infinite alternate-reverse both;
  top: 32%;
  left: 12%;

  .speechBubble {
    @include speech-bubble;
    top: -48%;
    left: 85%;
    &::after {
      bottom: -15%;
      left: -5%;
    }
  }
}

// BADGES

.snake-badge {
  background-image: url("../assets/images/snake.png");
  @include bubble;
  @include b-badge;
}

.sloth-badge {
  background-image: url("../assets/images/sloth.png");
  @include bubble;
  @include b-badge;
}

.fish-badge {
  background-image: url("../assets/images/fish.png");
  @include bubble;
  @include b-badge;
}
